<hr>
<label class="btn btn-default btn-file btn-block" ng-show="progress === 0">
    Choose an archive <input fileread="fileread" type="file" accept=".tar.gz,.zip" class="hidden">
</label>
<div ng-show="fileread">
    Selected: {{fileread.name}}
</div>
<div ng-show="progress !== 0">
    Sending: {{progress}}%
</div>
<div style="margin-top: 3px;" ng-show="fileread" ng-disabled="progress !== 0">
    <button class="btn btn-default btn-block" ng-click="$ctrl.sendFile()">Send</button>
</div>

