<button ng-if="!progress || maxRetry === 0 || progress === 'Failed'" ng-disabled="maxRetry !== 0" class="btn btn-default btn-block" ng-click="$ctrl.launchTests()">Launch tests</button>
<div ng-if="progress">
    <div>Version: {{version}}</div>
    <div>Progress: {{progress}}</div>
    <div ng-if="!hasError">Errors: 0</div>
    <div ng-if="hasError">
        <div ng-if="progress !== 'Failed'">
            <div ng-show="collapsed">Errors: {{errors.length}}</div>
            <button ng-if="collapsed" ng-click="$ctrl.collapse()" class="btn btn-default btn-block">Expand</button>
            <button ng-if="!collapsed" ng-click="$ctrl.collapse()" class="btn btn-default btn-block" style="margin-bottom: 5px">Collapse</button>
            <table ng-show="!collapsed" class="table table-bordered table-hover" style="margin-bottom: 0px">
                <thead>
                <tr>
                    <th>Scenario</th>
                    <th>Player</th>
                    <th>Message</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="error in errors">
                        <td>{{error.scenario}}</td>
                        <td>{{error.player}}</td>
                        <td>{{error.message}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div ng-if="progress === 'Failed'">
            <div ng-repeat="error in errors">
                <div>{{error.scenario}}: {{error.message}}</div>
            </div>
        </div>
    </div>
</div>