<style>
    thead > tr > th {
        text-align: center;
    }
</style>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th></th>
            <th colspan="3" ng-repeat="cell in headHostnames">{{cell}}</th>
        </tr>
        <tr>
            <th></th>
            <th ng-repeat="cell in headTitle">{{cell}}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="line in lines">
            <th>{{line.header}}</th>
            <td ng-repeat="cell in line.data track by $index" style="white-space: pre;">{{cell}}</td>
        </tr>
    </tbody>
</table>