<hr>
<div class="clearfix">
    <div class="col-xs-6">
        <button class="btn btn-default btn-block" ng-click="$ctrl.startTests()">Launch all tests</button>
    </div>
    <div class="col-xs-6">
        <button class="btn btn-default btn-block" ng-click="$ctrl.killTests()">Kill all tests</button>
    </div>
</div>