<style>
    .borderbot > div > div {
        border-bottom: solid #ddd 1px;
    }
    .borderright {
        border-right: solid #ddd 1px;
    }
    .left {
        float: left;
        padding: 8px;
    }
    .bigcell {
        width: 80%;
    }
    .smallcell {
        width: 20%;
    }
</style>

<hr>
<button style="margin-bottom: 5px" ng-disabled="maxRetry !== 0" class="btn btn-default btn-block" ng-click="$ctrl.launchTests()">Launch tests on this server</button>

<div ng-if="progress && progress !== 'Failed'">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Version</th>
            <td>{{version}}</td>
        </tr>
        <tr>
            <th>Progress</th>
            <td>{{progress}}</td>
        </tr>
        <tr>
            <th>Details</th>
            <td style="padding: 0">
                <div ng-class="{'borderbot': !$last}" ng-repeat="detail in status['Details']">
                    <div ng-repeat="(key, value) in detail">
                        <div class="left borderright bigcell">{{key}}</div>
                        <div class="left smallcell">{{value}}</div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th>Errors</th>
            <td ng-if="!hasError">No errors.</td>
            <td ng-if="hasError" style="padding: 0px">
                <table class="table table-bordered table-hover" style="margin-bottom: 0px">
                    <thead>
                        <tr>
                            <th>Scenario</th>
                            <th>Player</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="error in errors">
                            <td>{{error.scenario}}</td>
                            <td>{{error.player}}</td>
                            <td>{{error.message}}</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</div>

<div ng-if="progress === 'Failed'">
    <div>Progress: {{progress}}</div>
    <div ng-repeat="error in errors">
        <div>{{error.scenario}}: {{error.message}}</div>
    </div>
</div>
